html{
	font-size: 16px;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}
.window{
	width: 100vw;
}
.wrapper{
	margin: 0 auto;
	width: 1024px;
		display: flex;
	justify-content: space-between;
}
header{
	color: black;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	background-color: #f4f4f5;
	background-image: url(img/hero.png);
	background-size: cover;
	height: 100vh;
}
.menuBurger{
	display: none;
	position: absolute;
	top:10px;
	left:10px;
	cursor: pointer;
}
nav{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}
nav ul{
	padding-bottom: 40px;
	display: flex;
	flex-flow: row nowrap;
}
nav ul li{
	list-style: none;
	text-decoration: none;
	color: black;
	font-size: 0.8rem;
	padding: 16px 22px;
	margin: 2px;
	border: 1px solid transparent;
}
nav ul li:hover{
	border: 1px solid black;
}
nav ul li:first-child{
	border: 1px solid black;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
#title{
	font-size: 1.3rem;
	font-weight: lighter;
	text-align: center;
}
#items{
	box-shadow: 0 -2px 2px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
	background-color: #f5c911;
	padding: 30px 0 44px 0;
}
.item h5{
	padding-top: 20px;
font-weight: bold;
text-transform: uppercase;
}
.item p{
	padding-top: 15px;
	font-weight: lighter;
	font-size: 0.4rem;
}
.item{
/*	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;*/
	text-align: center;
}
.item img{
	height: 40px;
}
.column{
margin: 0 auto;
width: 1024px;
display: flex;
flex-flow: column nowrap;
justify-content: space-around;
text-align: center;
align-items: center;
padding: 50px 62px;
}
.column h2{
	font-weight: lighter;
	padding-bottom: 20px;
}
.thing{
	padding: 35px 0;
	background-color: #f8f8f8;
	width: 150px;
	height: 150px;
	text-align: center;
}
#mosaic{
	padding-top: 20px;
	display: flex;
	flex-flow: row wrap;
}
#mosaic .thing:nth-child(1){
	background-image: url(img/1.png);
	background-size: 149px;
}
#mosaic .thing:nth-child(3){
	background-image: url(img/2.png);
	background-size: 149px;
}
#mosaic .thing:nth-child(5){
	background-image: url(img/3.png);
	background-size: 149px;
}
#mosaic .thing:nth-child(8){
	background-image: url(img/4.png);
	background-size: 149px;
}
#mosaic .thing:nth-child(10){
	background-image: url(img/5.png);
	background-size: 149px;
}
#mosaic .thing:nth-child(12){
	background-image: url(img/6.png);
	background-size: 149px;
}
.thing p{
	font-weight: lighter;
	font-size: 0.4rem;
	padding: 10px 0;
}
.thing img{
	width: 66px;
}
#greens{
	background-color: #eeefef;
}
#greens p{
	font-weight: lighter;
}
.dec{
	width: 150px;
}
#menu{
	display: flex;
	justify-content: space-between;
	width: 1024px;
}
.pages{
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	text-align: start;
}
.big{
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 0.8rem;
}
.small{
	font-style: italic;
	font-weight: lighter;
	font-size: 0.3rem;
}
.point{
	padding: 20px 0;
}
#contact{
	background-image: url(img/background.png);
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}
#notes{
	display: flex;
	justify-content: space-around;
}
.note h4{
text-transform: uppercase;
font-weight: normal;
padding: 20px 0 10px 0;
}
.note p{
	font-size: 0.8rem;
	padding: 10px;
}
fieldset, input{
	border: none;
}
input{
	background-color: transparent;
	border-bottom: 2px solid black;
	padding-top: 50px;
}
input[placeholder]{
	font-style: italic;
}
input[type="submit"]:hover{
	/*background-color: rgba(255,255,244, 0.5);*/
	color:white;
	background: black;
}
.icons{
align-self: flex-end;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
}
.icon{
	border: 1px solid black;
	width: 45px;
	height: 45px;
	padding: 7px 10px;
	font-size: 1.16rem;
	margin: 100px 10px 0 0;
}
.icon:first-child{
	order: 2;
}
.icon:nth-child(2){
	order: 1;
}
.icon:hover{
	color:white;
	background: black;
}
#menu-mobile{
	display: none;
}

@media screen and (max-width: 750px) {
	#menu-mobile{
		display: block;
	position: absolute;
	left: -113px;
	background-color: #f1f2f4;
	top: 0;
	transition: all .5s ease;
	height: 100%;
}
.active{
	left: 0 !important;
}
  #hidden {
    display: none;
    background: #f1f2f4;
    /*position: absolute;*/
  }
  nav ul{
  	flex-flow: column nowrap;
  }

  #hidden li {
    float: none; 
     }

  .menuBurger {
    display: inline-block; 
  }
}
@media (max-width:1024px){
	.wrapper, .column, #menu{
		width: 100%;
	}
	#contact{
		background-color: #f4f4f5;
		background-image: none;
		height: 100%;
	}
	header{
		background-position: 53% 50%;
	}
	#first_nav{
		width: 50%;
	}
	#pic{
		display: none;
	}
	.small{
		display: none;
	}
	legend{
		padding: 0 59px;
	}
}
@media (max-width:400px){
	#menu{
		flex-flow: column wrap;
	}
}